:root {
    --bg-primary: rgb(118, 93, 219);
    --bg-card: rgb(255, 255, 255);
    --primary-dark: #A18AFF;
    --primary: #CA8BFE;
    --primary-light: #3FD4F4;
    --danger: #FD99AF;
    --accent: #717082;
    --gray: #b0b0b0;
    --warn: #FAC608;
  }