<main>
    <div class="section">
        <div class="title">
            <div class="icon"></div>
            <div class="section-title">Profile</div>
        </div>
        <div class="actions">
            <div class="action">
                <div class="label">Edit Profile</div>
                <div class="icon"></div>
            </div>
            <div class="action">
                <div class="label">Change password</div>
                <div class="icon"></div>
            </div>
            <div class="action">
                <div class="label">privacy</div>
                <div class="icon"></div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="title">
            <div class="icon"></div>
            <div class="section-title">Notification</div>
        </div>
        <div class="actions">
            <div class="action">
                <div class="label">Notifications</div>
                <div class="icon"></div>
            </div>
            <div class="action">
                <div class="label">Task notifications</div>
                <div class="icon"></div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="title">
            <div class="icon"></div>
            <div class="section-title">More</div>
        </div>
        <div class="actions">
            <div class="action">
                <div class="label">Language</div>
                <div class="icon"></div>
            </div>
            <div class="action">
                <div class="label">Country</div>
                <div class="icon"></div>
            </div>
        </div>
    </div>
</main>