<main>
    <div class="section">
        <div class="title">
            <mat-icon fontIcon="account_circle"></mat-icon>
            <div class="section-title">Profile</div>
        </div>
        <div class="actions">
            <div class="action">
                <div class="label">Edit Profile</div>
                <mat-icon fontIcon="chevron_right"></mat-icon>
            </div>
            <div class="action">
                <div class="label">Change password</div>
                <mat-icon fontIcon="chevron_right"></mat-icon>
            </div>
            <div class="action">
                <div class="label">privacy</div>
                <mat-icon fontIcon="chevron_right"></mat-icon>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="title">
            <mat-icon fontIcon="mark_email_unread"></mat-icon>
            <div class="section-title">Notification</div>
        </div>
        <div class="actions">
            <div class="action">
                <div class="label">Notifications</div>
                <mat-icon class="checked" fontIcon="toggle_on"></mat-icon>
            </div>
            <div class="action">
                <div class="label">Task notifications</div>
                <mat-icon fontIcon="toggle_off"></mat-icon>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="title">
            <mat-icon fontIcon="more_horiz"></mat-icon>
            <div class="section-title">More</div>
        </div>
        <div class="actions">
            <div class="action">
                <div class="label">Language</div>
                <mat-icon fontIcon="chevron_right"></mat-icon>
            </div>
            <div class="action">
                <div class="label">Country</div>
                <mat-icon fontIcon="chevron_right"></mat-icon>
            </div>
        </div>
    </div>
</main>