
<div class="navItems">
    <div class="navItem">
        <div class="icon"></div>
        <div class="label">
            <div class="title">Today taks</div>
            <div class="subItem">
                <div class="icon"></div>
                <div class="title">Personnal</div>
            </div>
            <div class="subItem">
                <div class="icon"></div>
                <div class="title">Freelance</div>
            </div>
            <div class="subItem">
                <div class="icon"></div>
                <div class="title">Work</div>
            </div>
            <div class="subItem add">
                <div class="icon"></div>
                <div class="title">Add filter</div>
            </div>
        </div>
    </div>
    <div class="navItem">
        <div class="icon"></div>
        <div class="label">
            <div class="title">Scheduled tasks</div>
        </div>
    </div>
    <div class="navItem">
        <div class="icon"></div>
        <div class="label">
            <div class="title">Settings</div>
        </div>
    </div>
</div>