
<div class="navItems">
    <div class="navItem">
        <div class="icon" routerLink="today-tasks" routerLinkActive="active"></div>
        <div class="label">
            <a class="title" routerLink="today-tasks">Today taks</a>
            <div class="subItem">
                <div class="icon"></div>
                <a class="title">Personnal</a>
            </div>
            <div class="subItem">
                <div class="icon"></div>
                <a class="title">Freelance</a>
            </div>
            <div class="subItem">
                <div class="icon"></div>
                <a class="title">Work</a>
            </div>
            <div class="subItem add">
                <div class="icon"></div>
                <a class="title">Add filter</a>
            </div>
        </div>
    </div>
    <div class="navItem">
        <div class="icon" routerLink="scheduled-tasks" routerLinkActive="active"></div>
        <div class="label">
            <a class="title" routerLink="scheduled-tasks">Scheduled tasks</a>
        </div>
    </div>
    <div class="navItem">
        <div class="icon" routerLink="settings" routerLinkActive="active"></div>
        <div class="label">
            <a class="title" routerLink="settings">Settings</a>
        </div>
    </div>
</div>