
<div class="navItems">
    <div class="navItem">
        <mat-icon routerLink="today-tasks" routerLinkActive="active" fontIcon="event"></mat-icon>
        <div class="label">
            <a class="title" routerLink="today-tasks">Today taks</a>
            <div class="subItem">
                <div class="icon"></div>
                <a class="title" routerLink="today-tasks" routerLinkActive="active" >Personnal</a>
            </div>
            <div class="subItem">
                <div class="icon"></div>
                <a class="title" routerLink="today-tasks" routerLinkActive="active" >Freelance</a>
            </div>
            <div class="subItem">
                <div class="icon"></div>
                <a class="title" routerLink="today-tasks" routerLinkActive="active" >Work</a>
            </div>
            <div class="subItem add">
                <mat-icon fontIcon="add_circle"></mat-icon>
                <a class="title" routerLink="today-tasks" routerLinkActive="active" >Add filter</a>
            </div>
        </div>
    </div>
    <div class="navItem">
        <mat-icon routerLink="scheduled-tasks" routerLinkActive="active" fontIcon="event_repeat"></mat-icon>
        <div class="label">
            <a class="title" routerLink="scheduled-tasks">Scheduled tasks</a>
        </div>
    </div>
    <div class="navItem">
        <mat-icon routerLink="settings" routerLinkActive="active" fontIcon="settings"></mat-icon>
        <div class="label">
            <a class="title" routerLink="settings">Settings</a>
        </div>
    </div>
</div>