.navItems {
    display: flex;
    flex-direction: column;
    margin-left: 1.50rem;

    .navItem {
        display: flex;

        mat-icon {
            color: var(--gray);
            margin-right: 1.50rem;

            &.active {
                color: var(--primary-dark);
            }
        }

        .label {
            display: flex;
            flex-direction: column;
            
            &>*+* {
                margin-bottom: 0.70rem;
            }
            
            .title {
                color: var(--accent);
                margin-bottom: 1.50rem;
                cursor: pointer;
                text-decoration: none;
            }

            .subItem {
                display: flex;
                align-items: center;

                .icon {
                    width: 0.70rem;
                    height: 0.70rem;
                    border-radius: 100%;
                    background-color: var(--danger);
                    border: none;
                    margin-right: 0.75rem;
                }

                .title {
                    color: var(--accent);
                    margin-bottom: 0;
                }

                &.add {
                    align-items: start;
                    .title {
                        color: var(--gray);
                    }
                    mat-icon{
                        color: var(--gray);
                        font-size: 1rem;
                        margin: 0;
                    }
                }
            }
        }
    }
}