main {
    display: flex;
    flex-direction: column;
    height: 90%;
    padding-left: 2rem;
    margin-left: 3rem;
    margin-top: 3rem;
    overflow-y: scroll;
    direction: rtl;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb  {
        background-color: var(--primary);
        border-radius: 20px;
    }
    &::-webkit-scrollbar-track {
        background: #cfcfcf;
        border: 3px solid transparent;
        background-clip: content-box;
     }
    &>*+* {
        margin-top: 3rem;
    }

    .task-group {
        display: flex;
        flex-direction: column;
        direction: ltr;

        &:last-child {
            margin-bottom: 3rem;
        }

        .title {
            color: var(--bg-card);
            font-size: 1.25rem; /* 20px */
            line-height: 1.75rem; /* 28px */
            font-weight: 500;
            margin-bottom: 1rem;
        }


        .task-list {
            display: flex;
            flex-direction: column;
            
            app-todo {
                margin-bottom: 1rem;
            }
        }
    
    }
}