<main>
    <div class="task-group">
        <div class="title">7 nov 2022</div>
        <div class="task-list">
            <app-todo/>
            <app-todo/>
        </div>
    </div>
    <div class="task-group">
        <div class="title">8 nov 2022</div>
        <div class="task-list">
            <app-todo/>
            <app-todo/>
        </div>
    </div>
    <div class="task-group">
        <div class="title">9 nov 2022</div>
        <div class="task-list">
            <app-todo/>
            <app-todo/>
        </div>
    </div>
    <div class="task-group">
        <div class="title">10 nov 2022</div>
        <div class="task-list">
            <app-todo/>
            <app-todo/>
        </div>
    </div>
    <div class="task-group">
        <div class="title">11 nov 2022</div>
        <div class="task-list">
            <app-todo/>
            <app-todo/>
        </div>
    </div>
</main>